/* General settings */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 10px;

    /* primary colors */
    --primary-color: hsl(231, 69%, 60%);
    --secondary-color: hsl(0, 94%, 66%);

    /* neutral colors */
    --neutral-light-color: hsl(229, 8%, 60%);
    --neutral-light-color-transparent: hsla(229, 8%, 60%, .3);
    --neutral-dark-color: hsl(229, 31%, 21%);
    --neutral-dark-color-transparent: hsla(229, 31%, 21%, .95);

    /* padding around all content */
    --overall-padding: 3.2rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    display: block;
}

button {
    background-color: transparent;
    border: none;
    color: var(--neutral-dark-color);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

/* General styling */
body {
    color: var(--neutral-dark-color);
    font-size: 1.8rem;
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    /* Use for shapes behind images */
    overflow-x: hidden;
}

body>* {
    padding: var(--overall-padding);
}

.primary-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.max-width {
    --max-width: 1100px;
    max-width: var(--max-width);
    margin: 0 auto;
}

.primary-header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.menu {
    letter-spacing: .3rem;
}

@media (max-width: 49.99em) {
    .toggle-menu-button {
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .menu {
        display: none;
        position: relative;
    }

    /* If menu is open */
    .primary-header[data-menu-open] {
        background-color: var(--neutral-dark-color-transparent);
    }

    [data-menu-open] svg #text,
    [data-menu-open] svg circle {
        fill: white;
    }

    [data-menu-open] svg #flag {
        fill: var(--neutral-dark-color);
    }

    [data-menu-open] .menu {
        --gap: calc(var(--overall-padding) / 1.6);
        background-color: var(--neutral-dark-color-transparent);
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        height: calc(100vh - 100%);
        padding-inline: var(--overall-padding);
        position: absolute;
        right: 0;
        top: calc(100%);
        width: 100%;
    }

    [data-menu-open] .menu nav ul {
        display: flex;
        flex-direction: column;
    }

    [data-menu-open] .menu nav ul li:first-child {
        border-top: 1px solid var(--neutral-light-color-transparent);
    }

    [data-menu-open] .menu nav li {
        padding-block: var(--gap);
        border-bottom: 1px solid var(--neutral-light-color-transparent);
    }

    [data-menu-open] .menu a {
        color: white;
    }

    [data-menu-open] .menu-social-links {
        position: fixed;
        padding-bottom: var(--overall-padding);
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
    }

    [data-menu-open] .login {
        border: 2px solid white;
        border-radius: .5rem;
        color: white;
        letter-spacing: inherit;
        padding: calc(var(--gap) / 2);
        font-size: inherit;
    }

    [data-content-nr] button {
        display: none;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 11rem;
}

.shape {
    position: relative;
}

.shape::after {
    --shift-inline: 6rem;
    --shift-top: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 100vmax;
    content: '';
    height: 100%;
    right: var(--shift-inline);
    position: absolute;
    top: var(--shift-top);
    width: 100vmax;
    z-index: -1;
}

.shape.first-image::after {
    height: 80%;
    left: var(--shift);
}

h1 {
    font-size: 2.9rem;
    font-weight: 500;
}

p {
    color: var(--neutral-light-color);
    font-size: 1.5rem;
    line-height: 1.5;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: var(--overall-padding);
}

.button {
    font-size: 1.4rem;
    border-radius: 0.6rem;
    box-shadow: 0 4px 6px 0 hsl(231deg 69% 60% / 20%);
    padding: 1.4rem 1.6rem;
}

.primary-button {
    background-color: var(--primary-color);
    color: white;

}

.secondary-button {
    background-color: #F7F7F7;
}

h2, h3 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

/* Style tabs header */
.tabs {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-block: var(--overall-padding) calc(var(--overall-padding) * 2);
}

.tabs button:first-child {
    border-top: 1px solid var(--neutral-light-color-transparent);
}

.tabs button {
    border-bottom: 1px solid var(--neutral-light-color-transparent);
    color: var(--neutral-light-color);
    font-size: 1.6rem;
    padding: 1.6rem;
    position: relative;
    width: 100%;
}

.tabs button.tab-header-active {
    color: var(--neutral-dark-color);
}

.tabs button.tab-header-active::after {
    content: '';
    position: absolute;
    height: .4rem;
    width: 45%;
    background-color: var(--secondary-color);
    bottom: 0;
    right: 50%;
    transform: translate(50%);
}

/* Style tabs content */
[data-content-nr] {
    display: none;
}

.tab-content-active {
    display: block;
}

[data-content-nr] h3 {
    margin-top: calc(var(--overall-padding) * 2.5);
}

/* Style cards */
.cards {
    margin-top: var(--overall-padding);
    display: flex;
    flex-direction: column;
    gap: var(--overall-padding);
    margin-inline: 1.4rem;
}

.card {
    border-radius: 1.6rem;
    box-shadow: 0 6px 12px 2px hsl(231deg 69% 60% / 20%);
}

.card div {
    --margin-header-para: .8rem;
    padding: calc(var(--overall-padding) / 1.3);
}

.card img {
    margin: 3rem auto;
}

h4 {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: var(--margin-header-para);
}

h4 + p {
    margin-top: var(--margin-header-para);
}

.card .around-button {
    border-top: 5px dotted var(--neutral-light-color-transparent);
}

.card button {
    width: 100%;
}

.contact {
    background-color: var(--primary-color);
    color: white;
}

footer {
    background-color: var(--neutral-dark-color);
}

footer a {
    color: white;
}

ul[aria-label="social links"] {
    align-items: center;
    display: flex;
    gap: var(--overall-padding);
    justify-content: center;
    padding-top: var(--overall-padding);
}

@media (min-width: 50em) {
    .toggle-menu-button {
        display: none;
    }

    .primary-header .menu-social-links {
        display: none;
    }

    .menu,
    .menu nav ul {
        align-items: center;
        display: flex;
        gap: 4rem;
    }
}